@model FrameByFrame.Models.Character

@{
    ViewData["Title"] = Model.Name + " Frame Data";
}
<div style="margin-top:2vh">
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>
<table id="char">
    <tr>
        <td style="vertical-align: top">
            <div>
                <h3 style="text-align: center; background-color: red; color: white; margin-bottom: 0; padding: 5px;
                        text-transform: uppercase; font-weight: bold; border-top-left-radius: 10px;
                        border-top-right-radius: 10px">@Model.Name</h3>
                    <img src="@Model.getImagePath()" style="background-color: white; width: 200px;
                        border-bottom-left-radius: 10px; border-bottom-right-radius: 10px"/>
                </div>
                <br />
                <table id="attr">
                    <caption>Character Attributes</caption>
                    <tr><th>Jumpsquat</th><td>@Model.Attributes.Jumpsquat</td></tr>
                    <tr><th>Dash</th><td>@Model.Attributes.Dash</td></tr>
                    <tr><th>Landlag</th><td>@Model.Attributes.Landlag</td></tr>
                    <tr><th>SHAirtime</th><td>@Model.Attributes.SHAirtime</td></tr>
                    <tr><th>FHAirtime</th><td>@Model.Attributes.FHAirtime</td></tr>
                    <tr><th>AirJumps</th><td>@Model.Attributes.AirJumps</td></tr>
                    <tr><th>Taunt Frames</th><td>@Model.Attributes.Taunt</td></tr>
                </table>
            </td>

        <td style="padding-left: 50px; vertical-align: top; padding-top: 20px">
            <!-- NORMALS -->
            <div class="tab">
                <input id="tab-1" type="checkbox" name="tabs" checked>
                <label for="tab-1">Normal Attacks</label>
                <div class="tab-content">
                    <table class="attacks">
                        <col width="110px" style="border: 1px solid silver;" />
                        <col width="auto" style="border: 1px solid silver;" />
                        <col width="50px" style="border: 1px solid silver;" />
                        <col width="50px" style="border: 1px solid silver;" />
                        <tr style="background-color: whitesmoke; color: black; font-weight: bold">
                            <td style="text-align: center">Name</td>
                            <td>Gantt Chart</td>
                            <td style="text-align: center">FAF</td>
                            <td style="text-align: center">Total</td>
                        </tr>

                        @{
                            foreach (Normal a in Model.GetNormals()) // get all normal attacks
                            {
                                <tr style="border: 1px solid silver;">
                                    <td style="text-align: center">@a.Name</td>
                                    <td style="padding:5px;">@Html.Raw(a.ganttChart())</td>
                                    <td style="text-align: center">@a.FAF</td>
                                    <td style="text-align: center">@a.Total</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
            <br />

            <!-- Aerials -->
            <div class="tab">
                <input id="tab-2" type="checkbox" name="tabs" checked>
                <label for="tab-2">Aerial Attacks</label>
                <div class="tab-content">
                    <table class="attacks">
                        <col width="110px" style="border: 1px solid silver;" />
                        <col width="auto" style="border: 1px solid silver;" />
                        <col width="50px" style="border: 1px solid silver;" />
                        <col width="50px" style="border: 1px solid silver;" />
                        <col width="70px" style="border: 1px solid silver;" />
                        <col width="80px" style="border: 1px solid silver;" />
                        <tr style="background-color: whitesmoke; color: black; font-weight: bold">
                            <td style="text-align: center">Name</td>
                            <td>Gantt Chart</td>
                            <td style="text-align: center">FAF</td>
                            <td style="text-align: center">Total</td>
                            <td style="text-align: center">Landlag</td>
                            <td style="text-align: center">A-Cancel</td>
                        </tr>

                        @{
                            foreach (Aerial a in Model.GetAerials()) // get all normal attacks
                            {
                                <tr style="border: 1px solid silver;">
                                    <td style="text-align: center">@a.Name</td>
                                    <td style="padding:5px;">@Html.Raw(a.ganttChart())</td>
                                    <td style="text-align: center">@a.FAF</td>
                                    <td style="text-align: center">@a.Total</td>
                                    <td style="text-align: center">@a.LandLag</td>
                                    <td style="text-align: center">&lt;@a.CancelRange[0] @a.CancelRange[1]&gt;</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
            <br />

            <div class="tab">
                <input id="tab-two" type="checkbox" name="tabs">
                <label for="tab-two">Special Attacks</label>
                <div class="tab-content">
                    <table class="attacks">
                        <col width="150px" style="border: 1px solid silver;" />
                        <col width="auto" style="border: 1px solid silver;" />
                        <col width="100px" style="border: 1px solid silver;" />
                        @{
                            foreach (Special a in Model.Specials) // get all normal attacks
                            {

                                <tr style="border: 1px solid silver;">
                                    <td>
                                        @a.Name
                                        <div style="background-color: red; color: white; border-radius: 100%; width: 20px; height: 20px;
                                text-align: center; vertical-align: middle; font-weight: bold">B</div>
                                    </td>
                                    <td style="padding:5px;">@Html.Raw(a.ganttChart())</td>
                                    <td style="text-align:center">@a.FAF</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>
        </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a asp-action="Index" asp-controller="Home">Back to List</a>
                </div>
            </td>
        </tr>
</table>

@Html.Raw(Model.Airdodge.ganttChart())