@model FrameByFrame.Models.Character

@{
    ViewData["Title"] = "Character";
}

<h2>Character</h2>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<div>
    @Model.Name
    <img src="@Model.getImagePath()" />
</div>
@{ 
    foreach(SmashAttack a in Model.Actions.Where(x => x.Type == ActionType.Smash)) // get all normal attacks
    {
        <div>@a.Name</div>
        <div>@a.ChargeFrame</div>

    }
}
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
<br/>
<div>@Model.getJson()</div>
