@model FrameByFrame.Models.Character

@{
    ViewData["Title"] = Model.Name + " Frame Data";
}

<table id="char">
    <tr>
        <td>
            <div>
                <h3 style="text-align: center; background-color: red; color: white; margin-bottom: 0; padding: 5px;
                        text-transform: uppercase; font-weight: bold; border-top-left-radius: 10px;
                        border-top-right-radius: 10px">@Model.Name</h3>
                    <img src="@Model.getImagePath()" style="background-color: white; width: 200px;
                        border-bottom-left-radius: 10px; border-bottom-right-radius: 10px"/>
                </div>
                <br />
                <table id="attr">
                    <caption>Character Attributes</caption>
                    <tr><th>Jumpsquat</th><td>@Model.Attributes.Jumpsquat</td></tr>
                    <tr><th>Dash</th><td>@Model.Attributes.Dash</td></tr>
                    <tr><th>Landlag</th><td>@Model.Attributes.Landlag</td></tr>
                    <tr><th>SHAirtime</th><td>@Model.Attributes.SHAirtime</td></tr>
                    <tr><th>FHAirtime</th><td>@Model.Attributes.FHAirtime</td></tr>
                    <tr><th>AirJumps</th><td>@Model.Attributes.AirJumps</td></tr>
                    <tr><th>Taunt Frames</th><td>@Model.Attributes.Taunt</td></tr>
                </table>
            </td>
            <td style="padding-left: 50px; vertical-align: top; padding-top: 20px">
                <div class="tab">
                    <input id="tab-one" type="checkbox" name="tabs" checked>
                    <label for="tab-one">Normal Attacks</label>
                    <div class="tab-content">

                        @{
                            foreach (Normal a in Model.GetNormals()) // get all normal attacks
                            {
                                <table id="attacks">
                                    <col width="150px" />
                                    <col width="auto" />
                                    <col width="100px" />
                                    <tr>
                                        <td>
                                            @a.Name
                                            <div style="background-color: red; color: white; border-radius: 100%; width: 20px; height: 20px;
                                text-align: center; vertical-align: middle; font-weight: bold">B</div>
                                        </td>
                                        <td style="background-color: lawngreen">@Html.Raw(a.ganttChart())</td>
                                        <td style="text-align: center">
                                            <a href="#">View Gif</a>
                                        </td>
                                    </tr>
                                </table>
                            }
                        }
                    </div>
                </div>

                <div class="tab">
                    <input id="tab-two" type="checkbox" name="tabs">
                    <label for="tab-two">Special Attacks</label>
                    <div class="tab-content">

                        @{
                            foreach (Special a in Model.Specials) // get all normal attacks
                            {
                                <table id="attacks">
                                    <col width="150px" />
                                    <col width="auto" />
                                    <col width="100px" />
                                    <tr>
                                        <td>
                                            @a.Name
                                            <div style="background-color: red; color: white; border-radius: 100%; width: 20px; height: 20px;
                                text-align: center; vertical-align: middle; font-weight: bold">B</div>
                        </td>
                        <td style="background-color: lawngreen">----------------------------------------</td>
                        <td style="text-align: center">
                            <a href="#">View Gif</a>
                        </td>
                    </tr>
                </table>
                            }
                }
                        </div>
                    </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a asp-action="Index" asp-controller="Home">Back to List</a>
                </div>
            </td>
        </tr>
</table>

@Html.Raw(Model.AerialF.ganttChart())