@model FrameByFrame.Models.Character

@{
    ViewData["Title"] = Model.Name + " Frame Data";
}

<h2>Character</h2>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<div>
    @Model.Name
    <img src="@Model.getImagePath()" />
</div>
<table>
    <tr><th>Jumpsquat</th><td>@Model.Attributes.Jumpsquat</td></tr>
    <tr><th>Dash</th><td>@Model.Attributes.Dash</td></tr>
    <tr><th>Landlag</th><td>@Model.Attributes.Landlag</td></tr>
    <tr><th>SHAirtime</th><td>@Model.Attributes.SHAirtime</td></tr>
    <tr><th>FHAirtime</th><td>@Model.Attributes.FHAirtime</td></tr>
    <tr><th>AirJumps</th><td>@Model.Attributes.AirJumps</td></tr>
    <tr><th>Taunt Frames</th><td>@Model.Attributes.Taunt</td></tr>
</table>
@{ 
    foreach(Special a in Model.Specials) // get all normal attacks
    {
        <div>@a.Name</div>

    }
}
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
<br/>
