@model Character[]

@{
    ViewData["Title"] = "Dank";
    Character a = Model[0];
    Character b = Model[1];
}

<div style="margin-top:2vh">@a.Name vs. @b.Name</div>
<br/>
<div class="panel-group">
    @{ 
        int i=1;
        foreach (FrameByFrame.Models.Action z in b.getActions())
        {
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" href="#collapse@(i)">
                <h4 class="panel-title">@z.Name Punishes</h4>
            </div>
            <div id="collapse@(i++)" class="panel-collapse collapse">
                <div class="panel-body" aria-expanded="true">
                    <table class="attacks">
                        <col width="110px" />
                        <col width="50px" />
                        <col width="50px" />

                        <tr style="background-color: whitesmoke; color: black; font-weight: bold">
                            <td style="text-align: center">Name</td>
                            <td style="text-align: center">Normal</td>
                            <td style="text-align: center">Perfect</td>
                        </tr>

                        @{
                            foreach (Tuple<FrameByFrame.Models.Action, Window> t in a.getFrameWindows(z))
                            {
                                <tr style="border: 1px solid silver;">
                                    <td>@t.Item1.Name</td>
                                    <td>@t.Item2.Normal.ToString("+#;-#;0")</td>
                                    <td>@t.Item2.Perfect.ToString("+#;-#;0")</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
        }
    }
</div>
<br />