@model Character[]

@{
    ViewData["Title"] = "Dank";
    Character a = Model[0];
    Character b = Model[1];
}

<div style="margin-top:2vh">@a.Name vs. @b.Name</div>
<br/>
<table>
    <thead>
        <tr><th colspan="2">@b.AerialD.Name</th></tr>
        <tr><th>Name</th><th>Normal Window</th><th>Perfect Window</th></tr>
    </thead>
    @{
        foreach (Tuple<FrameByFrame.Models.Action, Window> t in a.getFrameWindows(b.AerialD))
        {
                <tr>
                    <td>@t.Item1.Name</td>
                    <td>@t.Item2.Normal.ToString("+#;-#;0")</td>
                    <td>@t.Item2.Perfect.ToString("+#;-#;0")</td>
                </tr>
        }
    }
</table>