@model Character[]

@{
    ViewData["Title"] = "Dank";
    Character a = Model[0];
    Character b = Model[1];
}

<div style="margin-top:2vh">@a.Name vs. @b.Name</div>
<br/>
<table>
    <thead>
        <tr><th colspan="2">@b.AerialN.Name</th></tr>
        <tr><th>Name</th><th>Window</th></tr>
    </thead>
    @{
        foreach (Tuple<FrameByFrame.Models.Action, int> t in a.getFrameWindows(b.AerialN))
        {
            <tr>
                <td>@t.Item1.Name</td>
                <td>@t.Item2</td>
            </tr>
        }
        <tr><th colspan="2">Perfect Shield Windows</th></tr>
        foreach (Tuple<FrameByFrame.Models.Action, int> t in a.getFrameWindows(b.AerialN, true))
        {
            <tr>
                <td>@t.Item1.Name</td>
                <td>@t.Item2</td>
            </tr>
        }
    }
</table>